@use "../global/variables" as v;
@use "../global/mixin" as m;

.admin__header {
  display: flex;
  padding: 20px 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid v.$dark-gray;
}

